div {
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 32px;
  }

  a,
  p {
    color: grey;
  }

  input {
    font-size: 32px;
    margin-bottom: 20px;
    width: 800px;
  }
}
